body {
  padding-top:60px;
}

#topbar {
  background-color:#fff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffdddddd', GradientType=0) !important;
  height:40px;
}

#FooterBar {
  text-align:right;
}

.FooterBarLeft, .FooterBarRight {
  margin-top:4px;
}

.FooterBarLeft .label {
  margin-right:3px;
}

.FooterBarRight .label {
  margin-left:3px;
}

.label {
  background-color:#fff;
  border:1px solid #ccc;
  color:#444;
}

.navbar-nav {
  margin:0;
}

.navbar-nav > li > a {
  padding-top:5px;
}

.navbar-brand {
  height:40px;
  width:40px;
  padding-top:0;
  padding-bottom:0;
  padding-left:0;
  padding-right:0;
  margin-top:0;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
}

.app-search {
  display:none;
}

.tix-panel {
  background-color:#fff;
  padding-left:20px;
  padding-right:20px;
}
