.PanelHeader 
{
    border-width: 1px;
    border-color: #AAAAAA;
    border-style: solid;
    font-weight: bold;
    text-align: left;
    padding: 5px 10px 5px 10px;
    font-size: x-small;
}

.PanelContent 
{
    border-width: 1px;
    border-color: #AAAAAA;
    border-style: none solid solid solid;
    text-align: left;        
    padding: 5px 10px 5px 10px;
}    

.TixButtonNext
{
    background-color: #008400;
    color: #FFFFFF;
}    
     
.TixButtonBack
{
    background-color: #31418C;
    color: #FFFFFF;
}    

.TixButtonCancel
{
    background-color: #CD2228;
    color: #FFFFFF;
}

table, div {
    font-size: 10px;    
}             