.carbon-bg {
  background-image: linear-gradient( to right, rgba(120, 120, 120, 1), rgba(140,140,140,1), rgba(120, 120, 120, 1));
}
.carbon-bg-top {
  background-image: linear-gradient(to top, rgba(136, 136, 136, 1), rgba(80,80,80,0.6)),
                    linear-gradient(to right, rgba(120, 120, 120, 1), rgba(140,140,140,1), rgba(120, 120, 120, 1)),
}
.carbon-bg-bottom {
  background-image: linear-gradient(to bottom, rgba(136, 136, 136, 1), rgba(80,80,80,1)),
                    linear-gradient(to right, rgba(120, 120, 120, 1), rgba(140,140,140,1), rgba(120, 120, 120, 1)),
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

.common-theme {
  .hatch-latch-glow,.hatch-latch-error,.hatch-latch-success,.hatch-latch-loading {
    opacity: 0;
  }
  .hatch-upper {
    .hatch-latch {
      height:115px;
      background-image:url('/img/hatch/hatch-upper-off.png');

      &.hatch-latch-glow {
        background-image:url('/img/hatch/hatch-upper-on.png');
      }
      &.hatch-latch-error {
        background-image:url('/img/hatch/hatch-upper-error.png');
      }
      &.hatch-latch-success {
        background-image:url('/img/hatch/hatch-upper-success.png');
      }
      &.hatch-latch-loading {
        background-image:url('/img/hatch/hatch-upper-loading.png');
      }
    }
  }
  .hatch-lower {
    .hatch-latch {
      height:122px;
      background-image:url('/img/hatch/hatch-lower-off.png');

      &.hatch-latch-glow {
        background-image:url('/img/hatch/hatch-lower-on.png');
      }
      &.hatch-latch-error {
        background-image:url('/img/hatch/hatch-lower-error.png');
      }
      &.hatch-latch-success {
        background-image:url('/img/hatch/hatch-lower-success.png');
      }
      &.hatch-latch-loading {
        background-image:url('/img/hatch/hatch-lower-loading.png');
      }
    }
  }
  &:not(.animating) {
    &.closed {
      .hatch-latch-glow {
        opacity:1;
        animation: fade-in 600ms linear;
      }
      &.error .hatch-latch-error {
        opacity:1;
        animation: fade-in 600ms linear;
      }
      &.error-out .hatch-latch-error {
        opacity:0;
        animation: fade-out 500ms linear;
      }
      &.success .hatch-latch-success {
        opacity:1;
        animation: fade-in 600ms linear;
      }
      &.success-out .hatch-latch-success {
        opacity:0;
        animation: fade-out 500ms linear;
      }
      &.loading .hatch-latch-loading {
        opacity:1;
        animation: fade-in 600ms linear;
      }
      &.loading-out .hatch-latch-loading {
        opacity:0;
        animation: fade-out 500ms linear;
      }
    }
  }
  &.animating {
    &.closed {
      .hatch-latch-glow {
        /*animation: fade-out 500ms linear;*/
        opacity:1;
      }
      .hatch-latch-success {
        opacity:1;
        animation: fade-in 500ms linear;
      }
    }
  }
}


#Hatch {
  /** COMMON THEME */
  .hatch-latch-glow,.hatch-latch-error,.hatch-latch-success,.hatch-latch-loading {
    opacity: 0;
  }
  .hatch-upper {
    .hatch-latch {
      height:115px;
      background-image:url('/img/hatch/hatch-upper-off.png');

      &.hatch-latch-glow {
        background-image:url('/img/hatch/hatch-upper-on.png');
      }
      &.hatch-latch-error {
        background-image:url('/img/hatch/hatch-upper-error.png');
      }
      &.hatch-latch-success {
        background-image:url('/img/hatch/hatch-upper-success.png');
      }
      &.hatch-latch-loading {
        background-image:url('/img/hatch/hatch-upper-loading.png');
      }
    }
  }
  .hatch-lower {
    .hatch-latch {
      height:122px;
      background-image:url('/img/hatch/hatch-lower-off.png');

      &.hatch-latch-glow {
        background-image:url('/img/hatch/hatch-lower-on.png');
      }
      &.hatch-latch-error {
        background-image:url('/img/hatch/hatch-lower-error.png');
      }
      &.hatch-latch-success {
        background-image:url('/img/hatch/hatch-lower-success.png');
      }
      &.hatch-latch-loading {
        background-image:url('/img/hatch/hatch-lower-loading.png');
      }
    }
  }
  &:not(.animating) {
    &.closed {
      .hatch-latch-glow {
        opacity:1;
        animation: fade-in 600ms linear;
      }
      &.error .hatch-latch-error {
        opacity:1;
        animation: fade-in 600ms linear;
      }
      &.error-out .hatch-latch-error {
        opacity:0;
        animation: fade-out 500ms linear;
      }
      &.success .hatch-latch-success {
        opacity:1;
        animation: fade-in 600ms linear;
      }
      &.success-out .hatch-latch-success {
        opacity:0;
        animation: fade-out 500ms linear;
      }
      &.loading .hatch-latch-loading {
        opacity:1;
        animation: fade-in 600ms linear;
      }
      &.loading-out .hatch-latch-loading {
        opacity:0;
        animation: fade-out 500ms linear;
      }
    }
  }
  &.animating {
    &.closed {
      .hatch-latch-glow {
        /*animation: fade-out 500ms linear;*/
        opacity:1;
      }
      .hatch-latch-success {
        opacity:1;
        animation: fade-in 500ms linear;
      }
    }
  }
  /** END COMMON THEME */
  &.hatch-carbon {
    .hatch-upper {
      .hatch-edge {
        background-image:url('/img/patterns/carbon-edge.png');
      }
      .hatch-inside {
        background-image: linear-gradient(to top, rgba(136, 136, 136, 1), rgba(80,80,80,0.6)),
                          linear-gradient(to right, rgba(120, 120, 120, 1), rgba(140,140,140,1), rgba(120, 120, 120, 1)),
      }
    }
    .hatch-lower {
      .hatch-edge {
        background-image:url('/img/patterns/carbon-edge-offset.png');
      }
      .hatch-inside {
        background-image: linear-gradient(to bottom, rgba(136, 136, 136, 1), rgba(80,80,80,1)),
                          linear-gradient(to right, rgba(120, 120, 120, 1), rgba(140,140,140,1), rgba(120, 120, 120, 1)),
      }
    }
  }
  &.hatch-shield {
    .hatch-upper {
      .hatch-edge {
        background-image:url('/img/patterns/pattern006-muted-bottom-opaque.png');
      }
      .hatch-inside {
        background-image: url('/img/patterns/pattern006-muted-opaque.png');
      }
    }
    .hatch-lower {
      .hatch-edge {
        background-image:url('/img/patterns/pattern006-muted-top-opaque-offset.png');
      }
      .hatch-inside {
        background-image: url('/img/patterns/pattern006-muted-opaque-offset.png');
      }
    }
  }

}
