:root {
  --yellow:  #f2c73d;
  --base0: #888;
}

#topbar a {
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

#topbar button:hover {
  background-color: '#fff' !important;
}
