:root {
  --yellow:  #f2c73d;
  --base0: #888;
}

#topbar>div {
  margin-left:15px;
  margin-right:15px;
}

.messagePanel {
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  top:51px;
  text-align:center;
  i.fa-times {
    cursor: pointer;
    font-size: 15pt;
  }
  span {
    font-weight: bold;
  }
}

ul.nav.navbar-nav, .navbar-brand {
  margin-top:4px;
  margin-bottom:0;
  padding-top:0;
  padding-bottom:0;
  float:left;
  height:40px;
}

ul.nav.navbar-nav.navbar-right {
  width: 50%;
  float:right;
}

.nav.navbar-nav li a {
  padding:0;
  margin:0;
}


/** brand **/
.nav.navbar-nav li a img {
  height:40px;
  width:auto;
  padding:0;
  margin:0;
}

.nav.navbar-nav a {
  padding:0;
  margin:0;
}

.nav.navbar-nav li {
    padding:0;
    /*margin-top:4px;*/
    margin-left:5px;
    margin-right:5px;
    background-color:transparent;
}

    /** hamburger menu **/
    /*
    &.hamburger {
      padding:8px;
      margin-top:10px;
      border-radius: 4px;
      &:hover {
        background-color: var(--yellow);
        outline:0
      }
      .icon-bar {
        background-color: var(--base0);
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
      }
      .icon-bar + .icon-bar {
        margin-top: 4px;
      }
    }
    */

.nav.navbar-nav li.navbar-right {
  padding-top:8px;
  div {
    float:right;
  }
}


/*
.hamburger {
  background-color: @base1;
  background-image:none;
  margin-top: 6px;
  border-radius: 4px;
  .icon-bar {
    background-color: @base0;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
  .icon-bar + .icon-bar {
    margin-top: 4px;
  }

  &.btn-default {
    background-color:transparent;
    padding:10px;
    border: 1px solid #bbb;
    width:44px;
    float:left;
    &:hover {
      background-color:@yellow;
      outline:0
    }
  }
}


*/
