*+html{overflow:auto;}

#constuction-box,
#intro-box{behavior:url(js/PIE.htc)}

*+html #contact-form .field {padding:0 0 8px 0px;}

#text_slider div{background:none !important}

#advanced ul li.trigger_adv > span,
dl#accordion dt{
	behavior:url(js/PIE.htc);
	position:relative;
}

*+html .button .button-marker {margin: 6px 0 0 7px;}
div.caption h4, 
.tabs-1 .tab-content h1{background:#fff; display:inline-block;}
.kwicks li{filter:alpha(opacity=50)}
.kwicks li.active{filter:alpha(opacity=100)}
