.FieldLegend {
	color:#008400;
	font-weight:bold;
}

.FieldSetWidth {
	width:600px;
} 

.reportCriteriaField
{
    font-family: Verdana, Arial, Helvetica;
    color: Black;
    font-size: small;
    text-align: left;
}
.reportCriteriaFieldTitle
{
    font-family: Verdana, Arial, Helvetica;
    color: Green;
    font-size: small;
    font-weight: bold;
}