.PanelHeader 
{
    border-width: 1px;
    border-color: #AAAAAA;
    border-style: solid;
    font-weight: bold;
    text-align: left;
    padding: 5px 10px 5px 10px;
}

.PanelContent 
{
    border-width: 1px;
    border-color: #AAAAAA;
    border-style: none solid solid solid;
    text-align: left;        
    padding: 5px 10px 5px 10px;
}    

.TixButtonNext
{
    background-color: #008400;
    color: #FFFFFF;
}    
     
.TixButtonBack
{
    background-color: #31418C;
    color: #FFFFFF;
}    

.TixButtonCancel
{
    background-color: #CD2228;
    color: #FFFFFF;
}

.TixContent
{
    font-size: 12px;
    line-height: normal;
}

.TixContent table, tbody, tr, td, div, span
{
    font-size: 12px;
    line-height: normal;
}

.TixContent th
{
    padding: 4px;
}

.TixContent h3
{
    font-size: 22px;
    line-height: normal;
}

